#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_CLEAN_EXCLUDE := *.orig */*.orig

build/debpartman::
	python build-partman.py configure
	python build-partman.py build
	python build-partman.py install
	touch partman-build-stamp
install/debpartman:: partman-build-stamp
	echo "hi, installing debpartman"
install/debpartman-src:: partman-build-stamp
	echo "hey, installing debpartman-src"
clean::
	python build-partman.py clean
	dh_clean -X*.orig partman-build-stamp
	dh_clean -X*.orig configure-stamp docs/html/*.html 
